*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;              /* Instead of -> align-content: center; because the buttons will lose the spaces in between rows */
    min-height: 100vh;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: minmax(120px, auto) repeat(5, 75px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);         /* 0.75 means 75% opaque or .75 opacity */
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;          /* Brings output of previous and current operand in one line - to the left */
    align-items: flex-end;      /* Brings the digits to the lower part of the output display - to the left*/
    /* justify-content: space-between;     Brings a space between the previous and current operand - to the two corners */
    justify-content: space-around;      /* Pushes element closer to each other and little further away from the top and bottom */
    flex-direction: column;     /* previous operand goes up to the right, current operand stays to the right */
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}